[2014-11-10 20:22] recipher opened #1 "if-can helper failing"
Hi. This project has appeared at just the right time. Good work.

I'm attempting to get this to work, and I've installed from master.

I've setup a single ability in `abilities/game.js` with a single method `canCreate` which returns true.

In my navigation, I've used the `{{if-can}}` helper like this:

[code]

But I'm getting an error:

[code]

From line 42 of the if-can helper:

[code]

Any ideas

[2014-11-10 23:57] #1 closed, assigned to nobody

[2015-01-05 16:39] knownasilya opened #5 "Which version of ember to use"
You mention that it doesn't work with 1.8, but does it work with 1.9?

[2015-01-05 16:43] rlivsey commented on #5
1.9+ should be fine yeah, it's just 1.8 and below which it doesn't work with (which at the time was the current released version of Ember).

[2015-01-05 16:51] knownasilya commented on #5
What about 1.8.1?

[2015-01-05 16:56] knownasilya opened #6 "Missing 0.2.0 release tag"
:point_up:

Possibly 0.1.3 as well.

[2015-01-05 16:58] rlivsey commented on #5
It uses the new streams stuff which came in 1.9, so won't work in any of the 1.8.x releases.

It wouldn't be too difficult to get it to work in 1.8.x by changing the way helper bindings to work with non-stream bindings - but I don't personally have the need & it's probably less work to upgrade an app to 1.9+ :grinning:

[2015-01-05 17:16] rlivsey commented on #6
Thanks, I'd added them locally but looks like I forgot to `push --tags`!

[2015-01-05 17:16] #6 closed

[2015-01-05 17:18] knownasilya commented on #5
I'm having little luck upgrading from 1.8.1 to 1.9.1, getting the following error:

[code]

Followed the blog post's instructions.

[2015-01-05 17:21] rlivsey commented on #5
IIRC there's an issue where you need to set the htmlbars feature flag in `config/environment.js` for it to work:

[code]

[2015-01-05 17:24] knownasilya commented on #5
Hum, now I get:

[code]

[2015-01-05 18:02] recipher commented on #5
I think you have to ignore that warning for now (but make sure you enable the flag).

—
Johnny H
07971 880871

On Mon, Jan 5, 2015 at 5:24 PM, Ilya Radchenko <notifications@github.com>
wrote:

[2015-01-05 18:05] knownasilya commented on #5
For me it was ember-notify, I upgraded it and everything just worked. No feature flag necessary.

[2015-01-05 18:10] #5 closed

[2015-01-05 18:11] rlivsey commented on #5
Glad you got it working. Sorry for the misdirection regarding the feature flag, my memory is hazy!

[2015-01-13 19:52] drewnichols opened #8 "example unit test for an abilities"
Are there any examples on how one would go about building a unit test for the canXYZ() methods on an ability?

[2015-01-15 15:15] davekaro opened #9 "Why are sentences used in the parameters?"
For example, see https://github.com/minutebase/ember-can#additional-attributes

Why isn't `{{#if-can "remove member from project" project member=member}}` just `{{#if-can "removeMemberFromProject" project member=member}}`?

[2015-01-15 15:16] davekaro commented on #9
Sorry this issue is kind of stupid. I just read https://github.com/minutebase/ember-can#looking-up-abilities and understand more now. I'm mostly wondering why we can't just pass the property name directly?

[2015-01-15 17:49] rlivsey commented on #9
No worries, not stupid at all! The syntax kind of evolved from some experiments & different ways of looking up / storing the abilities.

I'm completely open to ideas on better / more obvious ways of specifying the ability name and parameters.

[2015-01-15 18:02] davekaro commented on #9
Thanks for the feedback. In hindsight, it should have been obvious you've evolved the syntax a bit based on usage. I like the project and will give it a go soon. Will let you know. Thanks!

[2015-01-15 18:02] #9 closed

[2015-02-18 04:56] karlguillotte opened #10 "Question: abilities in other framework"
Hi,

I am a fan of your addon and I have been using it in some Ember projects. I am interested to know if your addon has been ported to React or if you are aware of other similar project in other framework. I did some research and I did not find anything.

Thanks in advance

[2015-03-15 18:50] #10 closed

[2015-03-15 19:48] rlivsey commented on #10
Hi, sorry I've been away and only just got back.

I'm not aware of a similar library for other JS frameworks. I got ideas from [cancan](https://github.com/ryanb/cancan) and various other authentication libraries but haven't used React / Angular much myself so haven't had the need to investigate there.

[2015-03-15 19:50] rlivsey opened #11 "Add generator"
We should have a generator which creates an ability file & corresponding test.

[2015-03-15 19:58] rlivsey commented on #8
I should add a generator to build an ability & associated unit test, I've opened #11 to track this.

[code]

[2015-04-14 17:13] acorncom opened #13 "Example of a component test using `can()` helper?"
This is related to #8, but different.  I worked through doing unit tests of our abilities and seem to have acceptance tests (with full use of initializers and the container) running smoothly, but I'm hitting some snags when trying to run a contained unit test of a component.

I hit this one first:

[code]

The below seems to resolve that issue (although I wonder if we should make a test helper to

[2015-04-27 15:34] knownasilya commented on #11
Would love an example of a generic test that can be used for a blank ability.

[2015-05-06 23:05] cibernox opened #15 "Glimmer incompatibility"
Not sure if this is a bug in glimmer of should be addressed by `ember-can`.

The can helper doesn't work with glimmer because it expects to receive `env` as 4th argument, but it's not being sent: https://github.com/emberjs/ember.js/blob/57f05daa8fc4fd94e3507e4dab2bcbab3e32f699/packages/ember-htmlbars/lib/hooks/invoke-helper.js#L12

[2015-05-28 12:47] gpinkham opened #16 "a little help with the user injection..."
so I followed along with the part about injecting the user..    I am using simple auth and torii..  in my templates I can use session.currentUser to get the user..       in the ability I did this to experiment..
[code]
and it resulted in:
ReferenceError: session is not defined

I am sure I am doing something wrong..      any help, suggestions, tips etc..

thanks!!
Gary

[2015-05-28 17:14] gpinkham commented on #16
ok so I got a little closer..   I didn't realized I had to use this.get..  so now I have:
[code]
in the console I can see the session.. looks good..  sorta...   same one that see when I log the session from my application template, but the currentUser is different..    when logging from template it's the actual user model with data..    when I do that from within the ability it's a "Descriptor"..

[2015-05-28 17:28] #16 closed

[2015-06-13 22:26] rlivsey commented on #15
Just released v0.5.0 with support for Ember 1.13

[2015-06-13 22:26] #15 closed

[2015-07-02 19:47] mmahalwy opened #17 "Failed: A helper named 'can' could not be found"
Hey, seems like my ember-cli is not detecting the can.js helper. When doing:
[code]

I get error:
[code]

Currently using ember-cli 0.2.7 & ember 1.13.2

I thought it was a problem with our app, so I scaffolded a new ember app to double check, and still getting the same error. Seems like the helpers are not found?

When I manipulated the `app/helpers/can.js` to be renamed to `can-can.js` and helpe

[2015-07-03 15:06] blimmer commented on #17
Very strange, I just created a test app and am not experiencing this problem. You can clone it and check it out [here](https://github.com/blimmer/ember-cli-example-app-for-github/tree/ember-can-issue-17).

It seems like it could be some sort of weird dependency issue if it still happens for you in a new project. Maybe try a `nombom` for sanity check?

[code]

[2015-07-03 15:24] blimmer commented on #13
You're running into two issues here.

The first (`helper 'can' not found`) is because before Ember 1.13, helpers without dashes were not allowed ([RFC](https://github.com/emberjs/rfcs/pull/58)). That has been resolved in 1.13, so you should just be able to `needs: ['helper:can']` instead of running the initializer in your `beforeEach`.

The second issue you're running into is because the resolver

[2015-07-03 16:07] blimmer commented on #11
I'm actively working on this and expect to have a PR this weekend.

[2015-07-03 16:40] rlivsey commented on #17
Hmm weird, it's working for me on the same versions & the tests are passing.

Looks like you're using Emblem, although that *shouldn't* be a problem.

A `nombom` is a good idea, let me know if that doesn't fix it and I'll dig a little deeper.

[2015-07-03 22:27] mmahalwy commented on #17
Okay I will try that and let you know!

[2015-07-03 22:36] #8 closed

[2015-07-03 22:36] #11 closed

[2015-07-03 22:36] #13 closed

[2015-07-06 20:24] ghedamat commented on #17
FYI @mmahalwy I did the usual `nombom` and it started working fine :)

[2015-07-07 20:27] mmahalwy commented on #17
@ghedamat thanks for the heads up. I decided to go back to this later on in time for now... :(

[2015-07-07 20:28] blimmer commented on #17
@mmahalwy I'm going to close this for now since others don't seem to be having this problem. This is simply a matter of housekeeping, so please don't hesitate to open another issue if the problem you're experiencing persists.

[2015-07-07 20:28] #17 closed

[2015-07-09 12:23] knownasilya opened #20 "async abilities"
Maybe supporting promises by returning a promise since resolving/rejecting is like true/false. This would make these much more powerful.

[2015-07-09 12:41] blimmer commented on #20
Can you provide an example of a situation where an async ability would be useful? I'm struggling to come up with an example where it'd be more useful than the boolean. If it's something that would be useful to a lot of people, I'm open to implementing it in this package. If not, you could easily implement this for your needs by creating a new mixin like this:

[code]

[2015-07-09 12:46] knownasilya commented on #20
The idea is that you don't know the result of can until the promise has fulfilled, like if you have async models that need to be first resolved, or an ajax promise upon which the ability depends.

[2015-07-09 12:47] rlivsey commented on #20
I think this would be difficult to implement until Ember itself is more promise aware.

I know there's talk/work in making streams and computed properties promise aware, at which point it would be possible to implement here - or actually I think we'd get it for free.

[2015-07-09 17:33] mmahalwy commented on #17
Thanks @blimmer! I'll definitely come back to this soon :)

[2015-08-06 00:15] fullofcaffeine opened #21 "Hacking?"
Hi!

Does it support integration with, say, CanCanCan (Rails) on the sever, or anything else that can confirm the authorization rule before performing performing the actual action? How to deal with that to avoid someone hacking the javascript app to gain access to other abilities while keeping the rules DRY?

[2015-08-10 18:18] HERRKIN opened #22 "Do I have to hardcode who has access?"
I am thinking of rewriting my php app to full stack js using SANE but we do something there that I dont know how to do with this type of techology, I see here that you define manually who has access  to what in the app. what about if I have a configuration on the app for the profiles? I mean I am admin, I create a profile called canmakesomething, and via the ember app I select what modules it can

[2015-08-11 09:40] shopapps opened #23 "best way to wait for session.user"
Hi,
I am using ember-siple-auth and am saving the user object into the session, and the session in turn is injected into ember-can  and all works great, except at the very first loading of the app before the session.user has been collected/stored.

Is there a recomended way of forcing ember-can to wait before the session.user has been stored before responding to any ember-can ability checks?

curr

[2015-08-11 14:45] blimmer commented on #23
Could you make the computed property invalidated by the `user.role` value? I'm not super familiar with ember-simple-auth, but I'd think that by default the user will be `null`, so `canEdit` would go from being false to being true if you did this:

[code]

[2015-08-11 14:57] shopapps commented on #23
Hi,  Thanks for the reply.

I tried what you suggested, but the result is still  the same.  I should have pointed out this is only on a fresh request direct to this route (e.g. bookmarked or typed in address), if the user is in a different route and clicks to this route then it all works as expected.

if the user is not logged in, they always get redirected to a login page, so in theory if the use

[2015-08-11 15:01] blimmer commented on #23
The crucial difference between what I wrote and what you wrote is the invalidation of the computed property. How are you exposing the edit button? Are you using the `can` helper?

[code]

That should be working. Any sample code/[ember twiddle](http://ember-twiddle.com/) would be helpful in helping you get this figured out.

[2015-08-11 15:03] blimmer commented on #22
You do not (and should not) hardcode who has access in the Javascript.

Your server should include the roles in the user's payload (retrieved on login). [ember-simple-auth](http://ember-simple-auth.com/) is good for maintaining the user session on the client-side. Since a user can muck around with anything on their end, the server should **always** validate that a user has permissions to do someth

[2015-08-11 15:06] blimmer commented on #22
I would also have a look at [this can can port](https://github.com/vdemedes/cancan) for node. Since this is not an issue with this library, I'm going to go ahead and close this thread. If you need more help, I'd suggest [the ember community slack](http://emberjs.com/community/), stack overflow, etc.

[2015-08-11 15:06] #22 closed

[2015-08-11 15:07] blimmer commented on #21
You do not (and should not) have to hardcode who has access in the Javascript.

Your server should include the roles in the user's payload (retrieved on login). [ember-simple-auth](http://ember-simple-auth.com/) is good for maintaining the user session on the client-side. Since a user can muck around with anything on their end, the server should **always** validate that a user has permissions to d

[2015-08-11 15:07] #21 closed

[2015-08-11 15:10] shopapps commented on #23
Hi,
yes I have the template.hbs as:

    {{#if (can "edit requesttype")}}
    <button {{action "edit" item}} class="btn btn-success pull-right btn-m10" type="button"><i class="fa fa-pencil"></i> Edit</button>
    {{/if}}

I dont think anything is needed in the  controller??  but i do have:  (note the actual edit action bubbles up so is not listed here)
[code]
I've never seen ember twiddle before a

[2015-08-11 15:53] blimmer opened #24 "Update docs to suggest server-side implementation(s)"
We've seen a couple of issues asking about how to validate roles on the server side. Though I don't think this add-on should be opinionated on the server-side implementation, it could be useful to suggest how to implement this on the server (can-can-can, can-can for node, home grown, etc.)

[2015-08-11 15:54] blimmer commented on #22
See also #24

[2015-08-11 15:54] blimmer commented on #21
See also #24

[2015-08-13 12:26] shopapps commented on #23
Hi, I couldn't really get an Ember Twiddle up and running properly so what about a re-wording of the question? :)

Is it possible in a controller to get an ability 'observing' something, so it's state can change when what is observed is changed?

something like:

    ability: computed.ability('user'),
    canEditUser: Ember.computed.alias('ability', 'canEditUsers').observes('session.user'),

so th

[2015-08-13 14:11] blimmer commented on #23
This is absolutely possible, and is exactly what Ember computed properties are for.

In your ability, just have the ability observe what you want:

[code]

Then, in your controller, just use `Ember.computed.reads` for your ability. I think you're overthinking needing to use an observer and might not understand how computed properties in Ember work. Maybe have a quick look at the [computed property

[2015-08-14 16:56] shopapps commented on #23
you're a genius!

That's exactly what I was looking for. :+1:   I think my lack of understanding of what the iniital param reference in the Ember.computed tripped me up and the trick of placing the user param reading from the session.

Your solution was exactly what I was looking for many thanks!

[2015-08-14 16:56] #23 closed

[2015-08-14 17:05] blimmer commented on #23
You're welcome. Glad you got it sorted out.

[2015-08-18 09:14] vvscode opened #25 "Add more examples"
Please add more examples. I'm interested how I can implement custom checking with passing into param

`{{#if (can "edit post" post)}}
  ...
{{else}}`

How handle passed post? Thx

[2015-08-19 09:23] owenek1 commented on #23
I have similar problem but I need use session data of a user in a model like that:
[code]
Everything works when you go to that route from different route, but if you will refresh it then I have following error: company.profile Assertion Failed: You may not pass `undefined` as id to the store's find method.

Does somebody of you can help me with solving it out? How can I wait for session to be set?

[2015-08-19 11:10] owenek1 commented on #23
I have similar problem but I need use session data of a user in a model like that:
[code]
Everything works when you go to that route from different route, but if you will refresh it then I have following error: company.profile Assertion Failed: You may not pass `undefined` as id to the store's find method.

Does somebody of you can help me with solving it out? How can I wait for session to be set?

[2015-08-19 12:20] shopapps commented on #23
what does your session initialiser file look like?

mine looks like:

in /initliazers/session-store.js

export function initialize(container, application) {
  application.inject('session:custom', '_store', 'service:store');
}

export default {
  name: 'session-store',
  initialize: initialize,
  after:['ember-data']
};

the after: [‘ember-data’] I think is important,

for completeness my sessions/

[2015-08-20 07:41] owenek1 commented on #23
Thank you for your answer @shopapps. I have made it exactly like you but I am still not able to read data from session in a model, in other places like templates or controller I am able to read. My model for user's profile looks like that:

[code]

So with the company model I want to get company that is assigned to the current user. But I am still getting:
![selection_062](https://cloud.githubuser

[2015-08-20 07:56] shopapps commented on #23
well, it looks like you are sending an ID with the find company call.  maybe you could try a findAll for the industry and industryrole calls?

[2015-08-20 08:08] owenek1 commented on #23
yest that is true that I am sending and the user ID with the find company call. So what do you think would be the correct way of getting the company that is assigned to the user. As I understand I should not use in the model informations that are kept with session. Am I right  ?

[2015-08-28 14:43] blimmer opened #26 "New Ember resolver breaks ember can"
The new ember resolver (0.1.20) seems to have broken resolving abilities.

[2015-08-28 14:46] blimmer commented on #26
We need to, at least, release 0.6.1 to not rely on the `__resolver__` method that we fixed with [this commit](https://github.com/minutebase/ember-can/commit/1e7f61fc8862db552264eae259eb4eff0b8e83d3)

[2015-08-28 18:49] jamesarosen opened #27 "RFC: API Changes"
A while back, @rlivsey asked me if I had any ideas on how to improve the API for this library. I didn't at the time because I didn't have enough concrete cases. I've since found a few things that are harder than they should be.

### Prevents Cohesion

In `route:posts`, we check whether the user has permission to manage posts in general:
[code]

In `route:post/edit`, we check whether the user has p

[2015-08-28 19:20] blimmer commented on #26
This was something I was doing wrong and an incompatibility with the new ember-test-helpers. disregard.

[2015-08-28 19:20] #26 closed

[2015-08-28 20:23] rlivsey commented on #27
Had a discussion with @jamesarosen on Slack:

[code]

[2015-09-01 11:06] GabKlein commented on #20
Here an example where the async support would be useful:

[code]

[2015-09-02 14:59] olivierchatry commented on #20
Looked a bit on how to do that, for now the only idea I can come up with would be to have a function that return the dependent key for an action inside the ability, then we hook an observer on them that call recompute.

The other modification possible is in Ember ( modify the Helper class to support promise ). That might be more desirable as they seems to want to go all the way async.

[2015-09-03 09:07] olivierchatry commented on #20
Ok I found a workaround :
[code]

It is actually fairly simple :
ember-can hookup an observer on the name of the ability, so whenever you call set on the name of your ability (for me "canManage"), and if the value is different, it will trigger a recompute of the value.

From here, we now that when an async object is fullfilled, the data are present in the 'content' attribute.
so basically, you nee

[2015-09-03 09:50] rlivsey commented on #20
If at all possible I'd recommend avoiding observers, they're a big bag of nuance and potential foot-guns!

A pattern I've used in the past where I have computed properties which are promise based is as follows:

[code]

This could quite easily be wrapped up to provide a nicer API like the following which cleans up the boilerplate:

[code]

Could make a nice generic addon, and in the future hopeful

[2015-09-03 10:27] olivierchatry commented on #20
I'm not sure that would work with helpers though. But if it does, it looks way better than what I have.

[2015-09-30 14:50] rlivsey commented on #27
https://github.com/minutebase/ember-can#custom-ability-lookup

[2015-09-30 16:26] rlivsey commented on #27
Released as 0.7.0.

I've converted my app to use the above example and it's really nice that autocompletion works & no more mental parsing of ability strings is needed.

Some experimentation needed, but I think it'll be worth making something like that the default for v1.0 with a deprecation warning in v0.8.x for the current behaviour. Ideally with an ember-watson plugin to auto-transform existing

[2015-09-30 16:26] #27 closed

[2015-10-22 13:53] shopapps opened #28 "How to use in a Controller"
I am following (I believe) your examples but cannot get the output to work as expected, so maybe someone can point out where I'm going wrong:  :)

two scenarios for outputting info in my template:  (template.hbs)

[code]

Method A is trying to use a calculated variable taken from the controller, where as Method B is using a template helper method.  For me Method A is not working  (always returns t

[2015-12-14 18:07] blimmer opened #32 "0.7.1 resolver breaks 1.13.x app"
Getting this issue with 0.7.1 on 1.13.x app:

[code]

[2015-12-14 20:16] rlivsey commented on #32
Ah crap pulled the trigger a bit soon on that.

Hmm is there a nice way of detecting this so we can avoid the deprecation on new apps but not make older apps unhappy? Or maybe call this a backwards incompatible change and go to 0.8.0 (releasing 0.7.2 with this reverted)?

[2015-12-14 20:40] blimmer commented on #32
Sorry, I'm a bit out of the loop on that one - is the new ember resolver thing a 2.x change? I don't have any apps on 2.x yet

[2015-12-14 21:13] blimmer commented on #32
It'd also be a bit of a bummer to make this entire addon backwards-incompatible with Ember 1.x to resolve a deprecation warning in 2.x.

[2015-12-14 23:46] rlivsey commented on #32
It looks like it should work fine in 1.x too with a few changes.

@rwjblue links to a diff of the changes required here: https://github.com/ember-cli/ember-cli/pull/4777#issuecomment-136423099

Would be nice to issue a warning maybe, or fallback to the old `ember/resolver` but IIRC you can't conditionally require in ES6.

[2015-12-14 23:55] rwjblue commented on #32
You can drop down and do non-import stuff via require.

    requirejs.entries['ember-resolver']

^^ can be used to see if that module is present, and:

    var Resolver = require(moduleName)['default']

Will give you the resolver from the module once you figure out which one it is in.

[2015-12-14 23:59] rlivsey commented on #32
@rwjblue aha awesome, thanks!

It's late here and I'm heading to bed now, but should be able to find some time tomorrow to take a look at this. @blimmer feel free to take a look if you get a chance in the meantime and I'll get a 0.7.2 out asap.

[2015-12-15 00:00] blimmer commented on #32
Sounds good. Might want to unpublish 0.7.1 so we don't have to rush on 0.7.2.

[2015-12-15 00:02] rlivsey commented on #32
@blimmer fair play, 0.7.1 is no more :boom:

[2015-12-15 00:34] rwjblue commented on #32
Submitted https://github.com/minutebase/ember-can/pull/33

[2015-12-15 10:06] #32 closed

[2015-12-15 10:08] rlivsey commented on #32
Released 0.7.2, thanks @rwjblue & @blimmer

[2015-12-16 12:32] ryrych opened #34 "no example app"
Hi,

is there an example app with tests? I wanted to see how to unit test abilities. Unfortunately `ember g ability-test foo` doesn't create a test case other than `'it exists'`.

[2015-12-16 21:47] ryrych commented on #34
Sorry, I was wrong. There's an app, but there was no unit test for ability. I cracked it and will create a PR for this.

[2016-01-27 00:27] mydea opened #35 "Remove deprecated use of this.container in favor of getOwner"
On Ember 2.3 a deprecation warning is thrown:
http://emberjs.com/deprecations/v2.x/#toc_injected-container-access

I tried to fix it myself, but it threw a lot of `Attempting to lookup an injected property on an object without a container, ensure that the object was instantiated via a container.` errors in the tests.

[2016-01-27 11:35] rlivsey commented on #35
Thanks, I somehow forgot I hadn't updated this project yet.

I'll try and find some time in the next few days, but if you want to take a stab yourself we basically need to:

* [ ] add `ember-getowner-polyfill` to dependencies (not devDependencies)
* [ ] import and use `getOwner` anywhere we're currently getting the container:

Eg [here](https://github.com/minutebase/ember-can/blob/59362175e3fd8393

[2016-01-27 15:45] mydea commented on #35
I tried that:

https://github.com/mydea/ember-can

but I still get the error message mentioned above. Maybe I missed something, somewhere?

[2016-01-27 16:04] rlivsey commented on #35
@mydea hmm that certainly looks like it should work, I'll take a closer look this evening and see if I can figure out what's wrong

Thanks

[2016-02-14 15:30] Exelord commented on #35
+1

[2016-02-22 21:27] mileszim commented on #35
@mydea using your fork I am no longer getting those deprecation warnings. @rlivsey / @mydea do you think you can get a pull request merged in this week?

[2016-02-22 22:35] mydea commented on #35
Yeah, I got rid of the deprecation warnings, but the tests fail, and I don't really know why.

[2016-02-23 21:45] mileszim commented on #35
@mydea I submitted a PR with update code all around. Should solve this issue: https://github.com/minutebase/ember-can/pull/36

[2016-02-26 16:08] ssulistyo opened #37 "Implementing for routes"
You gave this example for checking access to a route:

`import Ember from 'ember';
import { CanMixin } from 'ember-can';

export default Ember.Route.extend(CanMixin, {
  beforeModel: function() {
    if (!this.can('write post')) {
      this.transitionTo('index');
    }
  }
});`

This works in general when navigating to the route, however we have seen some undesired effects when deeplinking to tha

[2016-02-27 14:52] blimmer commented on #37
`beforeModel` should fire on every transition into the route whether direct accessing the route or navigating there through. However, it's possible you're mixing in `CanMixin` into the wrong place in the route hierarchy. Can you give us a high level view of where in the routing structure you're mixing this in?

[2016-02-28 12:39] ssulistyo commented on #37
We fixed this now in our implementation. Was related to how we handle our user session data and in some situations, the relevant data was not yet available for ember-can to check.

Checks are now in afterModel

[2016-02-28 12:53] #37 closed

[2016-03-03 08:43] floqqi opened #38 "Redirect in route on reload"
I'm using `ember-simple-auth` for authentication. Wanted to protect admin-routes.

Following the documentation, I have something like this:

[code]

[code]

User is loaded by the `SessionService`:

[code]

If the admin is logged in and refreshes the page he get's redirected to `index` because the `currentUser` is not loaded when the `SuperProtectedRoute` enters `beforeModel()`.

How to fix this?

[2016-03-06 17:39] ssulistyo commented on #38
we had a similar problem and fixed it among some other things by moving to afterModel
https://github.com/minutebase/ember-can/issues/37

[2016-03-06 20:21] floqqi commented on #38
Hm, that might work. I'm not sure I'm really comfortable with loading a model an user shouldn't have access to. I'll ditch deeper in this tomorrow and give some feedback. Thanks anyway, @ssulistyo!

[2016-04-08 22:11] taras opened #40 "Introduction to ember-can on Global Ember Meetup"
For some reason, I feel like I already asked about this but I can't see it anywhere.

Would someone from this project be interested in giving an "Introduction to ember-can" on Global Ember Meetup?

An "Introduction to <addon>" talk has the following format
- Why was it created?
- What problem is it trying to solve?
- How do people use it?
- What should people be aware of?

Would you be interested

[2016-05-19 19:11] ryanlabouve commented on #35
This seems to be fixed via https://github.com/minutebase/ember-can/commit/65873fd79996fdf5833f15c167fdb959045a4066

Is it possible to close this issue?

[2016-05-19 20:44] #35 closed

[2016-08-03 00:19] jpaas opened #44 "this.can('action model') is returning the ability function itself, not the result"
I'm running ember-can 0.8.1 with Ember 2.7.0. I have a route that includes the CanMixin. When I call:

[code]

It returns the actual canAction function in my ability class instead of the result from calling it.

[2016-08-03 19:10] jpaas commented on #44
Ah shit, you're right, I didn't make it computed. Thanks.

[2016-08-03 19:10] #44 closed

[2016-09-01 19:36] Asherlc opened #45 "Attempting to register an unknown factory"
Whenever I try to `needs` an ability, I get the following error:
`Attempting to register an unknown factory:`ability:sample-submission``

There's definitely `app/abilities/sample-submission.js` file. What could be causing this?

[2016-09-01 20:14] blimmer commented on #45
Is this line in `tests/helpers/resolver.js`?

[code]

If not, make sure you followed the [README](https://github.com/minutebase/ember-can#testing) and ran `ember install ember-can` or run `ember g ember-can` now.

[2016-11-21 20:59] #45 closed

[2016-12-06 01:57] JoshSmith commented on #20
I just got bit by this today.

I'm using `ember-can` in both routes and templates.

- In routes, I want to be able to direct transitions in a `beforeModel()` hook depending on whether someone has permission to do so.
- In templates, my behavior is pretty standard.

My use case is _extremely_ similar to @GabKlein's in the comment here: https://github.com/minutebase/ember-can/issues/20#issuecomment-

[2017-01-20 01:27] blimmer opened #50 "Tests fail on Ember 2.10++"
[code]

https://travis-ci.org/minutebase/ember-can/builds/193584199

Related to glimmer2?

[2017-01-28 10:46] GabKlein commented on #50
Yes, I'm using ember 2.11 and ember-can is not working.

[code]

[2017-01-30 16:02] vluoto commented on #50
Changing the line [here](https://github.com/minutebase/ember-can/blob/v0.8.2/addon/helpers/cannot.js#L7) from

[code]

to

[code]

seems to fix it

[2017-01-30 19:32] vluoto commented on #50
btw @blimmer this ought to be fixed by #52

[2017-01-30 20:33] blimmer commented on #50
yep - thanks - closing!

[2017-01-30 20:33] #50 closed

[2017-03-15 14:34] lancedikson opened #54 "Question about mutable models"
Hey guys! I have a question about models mutability. What if I use this template:

[code]

And some user takes an Ember extension and changed his/her `isAdmin` property. Will the politics show some secret (hidden) parts of the application? Of course, the backend shouldn't react on some disallowed actions from that user, but is there any possibility to protect the property `isAdmin`?

Thanks for yo

[2017-03-15 15:52] blimmer commented on #54
You're correct - if a user discovers this property and overwrites it locally, `isAdmin` will return true. As you mentioned, you should make sure that the backend does not respond to these actions. You could try obfuscating this property but, at the end of the day, the code is on the client and a savvy user could overwrite the value.

[2017-03-15 15:53] lancedikson commented on #54
Got it, thanks :)

[2017-03-15 15:53] #54 closed

[2017-04-07 01:48] denzo opened #56 "Use via RouterDSL"
Hi there, we found ourselves writing the following code in routes, which is great. However, as the app grew we felt like we could all benefit from a birds eye view of all the routes that require abilities.

[code]

We thought the best place for overlooking those would be in the `Router.map`.

[code]

We've implemented an extension of the RouterDSL in a similar manner to the way `ember-torii` does

[2017-04-11 19:29] garno opened #57 "Question about the necessity of having an Ember.Object as a resource"
Hi,

I’ve come across an unexpected behavior today and I wanted to investigate a little more about the cause. We ditched `ember-data` in one of our projects and, as a result, my route models aren’t instances of `Ember.Object`. This seems to be incompatible with the current `CanMixin` helper `can`.

Here is a dumbed-down example to explain my issue:

[code]

In this example, `this.get('model')` wil

[2017-04-15 19:52] blimmer commented on #56
Hey @denzo and thanks for the information! I totally understand your use case for this and it's certainly an interesting solution.

My only concern is that this is modifying default Ember routing behavior. I wonder if there's a way to provide this behavior as an opt-in with another addon? I would happily link to this add-on in the README if people were interested in this kind of behavior.

What do

[2017-04-15 23:29] denzo commented on #56
That sounds perfectly reasonable. In fact that is how we designed our addon. `ember-can` is simply a dependency of `ember-can-router-dsl`.

Ok great, I'll ping you for some feedback when it's published.

[2017-04-15 23:30] blimmer commented on #56
That's awesome - please do ping me for some feedback once you've got something public. I'd be happy to have a look.

[2017-04-16 14:38] rlivsey commented on #56
👍 awesome, definitely would work well as an addon.

Would be great to take a leaf from the ember-power-* addons and have a page listing extensions like this. Eg [ember-power-select addons page](http://www.ember-power-select.com/addons).

[2017-07-01 12:34] jbandura opened #58 "Update blueprints to ES6"
## The problem:

Currently whenever you generate the tests using blueprints, it'll use the old es5 syntax:
[code]
This causes errors in eslint and has to be fixed manually every time.

[2017-07-02 10:09] #58 closed

[2017-07-05 18:51] ctjhoa opened #60 "Computed properties + additional attributes"
Hi,

Is there a way to do `computed.ability` with additional attributes.
For a concrete example, how can you write something like this:
[code]
using `computed.ability`.

Features exist independently but I cannot find documentation where both are used at the same time.

Thanks

[2017-07-05 19:14] ashrafhasson commented on #20
using an injected service, such as a current-user or an account that fetches data from remote locations, is one use case I was trying to implement. I get `RangeError: Maximum call stack size exceeded` when attempting to compute properties that read an ability's property.

[2017-07-05 20:19] ashrafhasson commented on #20
`RangeError: Maximum call stack size exceeded` was caused by `computed.ability` attempting to set the `controller` content to the `ability`'s model which was set to the `route`'s model. My fault for missing this detail!

[2017-07-10 19:47] ashrafhasson commented on #20
Hi there,

Is support for async checks something being considered?

Thanks,

[2017-07-20 10:22] manuel-reil opened #61 "Parent component is destroyed: Cannot read property 'removeObserver' of undefined"
I use the **can helper** in a component template. On click an action bubbles up to the controller, that filters and destroys the component.

Then the following error is logged to console:

[code]

**Potential fix:**

Check in `addon/helpers/can.js` if `this._ability` exists:

[code]

This avoids the particular error in my case, but I do not have the Ember knowledge if the can observer is removed i

[2017-07-20 17:36] manuel-reil commented on #61
This happens when the can helper is used inside nested `{{#if}}` in a template. Maybe it is not possible to detect the destruction early enough.

[2017-07-28 06:29] Blackening999 opened #62 "Upgrade to ember-cli-babel@^6.0.0"
This addon is outdated with the recent Ember versions

[code]

[code]

[2017-08-07 04:42] esbanarango opened #63 "Add readme instructions for using it on an Engine"

[2017-08-09 21:27] dianacheung opened #64 "ember-can v0.8.4 build displays failing"
The latest release ember-can v0.8.4 build displays failing, when will that be fixed?

Also on the releases page, only v0.8.2 is tagged "verified" and "latest release".  Does this mean currently v0.8.2 is the latest stable release and v0.8.4 is not?

Thanks in advance.

[2017-08-10 17:34] blimmer commented on #64
@dianacheung this project definitely need some help with maintenance. A PR to fix the failing tests would be greatly appreciated if you have time.

The GH releases was an oversight - it's updated now.

[2017-08-10 17:35] blimmer commented on #63
This project definitely needs help with maintenance. If you have time to put together a PR with this documentation, it would be much appreciated.

[2017-08-10 17:35] esbanarango commented on #63
Definitely! I'll add this specific instructions.

[2017-09-06 21:49] adambedford commented on #63
@esbanarango Were you able to put together any instructions for this? I'm diving into engines and I'd love some guidance on how to access abilities / `can` helper from within an engine

[2017-09-07 14:32] esbanarango commented on #63
@adambedford I'll create the PR with those instructions today! 👍

[2017-09-19 15:02] Exelord opened #67 "Cannot helper issue"
Hi,
I noticed some unexpected errors according to `cannot` helper with looking for a wrong `__container__`. I fix it by defining my own helper:

### Before
<img width="542" alt="screen shot 2017-09-19 at 17 00 44" src="https://user-images.githubusercontent.com/1469375/30599248-2e28ed9c-9d5c-11e7-9ed4-c2c7b353ad5e.png">

### My Solution

[code]

What do you think about it?

[2017-10-12 14:57] mupkoo commented on #67
This solution is really nice and solves my problem as well

[2017-10-13 15:24] FilmKnurd commented on #61
Having the same problem. This seems to work pretty well.

[2017-10-21 21:22] ErunamoJAZZ commented on #61
I had a very bad day due this issue. I was porting an app from ember 2.8 to 2.16 and this had some weird behavior after fails (more glimmer errors and etc).

I hope someone will merge soon. Thank you guys!

[2017-10-21 21:30] blimmer commented on #61
I'm merged and released as 0.8.5.

Myself and @rlivsey don't currently have the time to be very active on this project - is anyone interested in helping maintain this project?

[2017-10-25 21:48] acorncom commented on #61
Looks like this issue can be closed now ...  @blimmer I'm likely to start using this add-on in a client project in the next few weeks, what type of help are you looking for here?

[2017-10-31 00:02] blimmer commented on #61
Hey @acorncom - thanks for the offer. It seems there's something wrong with the cannot helper as many people have posted about it. There are also some failing tests that could use some touch-up. If you have any time to work on that stuff, I'll happily try to help you get that across the line.

[2017-11-22 04:22] miguelcobain opened #70 "provide `ability` computed macro as a named export"
Now that we have the [new Ember javascript modules API](https://github.com/emberjs/rfcs/blob/master/text/0176-javascript-module-api.md) I think it would make sense to export the `ability` computed macro as its own export.

We could then use it like:

[code]

Another problem the current API has is that it is incompatible with ember's modules API unless you do some aliasing because you now import `c

[2017-12-04 13:50] begedin opened #71 "With recent ember-cli development, the resolver modifications no longer seem to be necessary"
As of [ember-cli `2.17.0`](https://github.com/ember-cli/ember-new-output/blob/v2.17.0/tests/test-helper.js), the `test-helper` module no longer uses the custom `tests/helpers/resolver.js` and instead defaults to the `app/resolver.js`. Basically, the whole `tests/helpers/resolver.js` file is removed completely.

With it gone, and the app resolver being used, it looks like the fix for pluralized `ab

[2018-02-07 01:46] jamesarosen commented on #71
I think it's only fixed if `initializer:ember-can` is _required_. You don't have to _run_ the initializer since the relevant resolver modifications are in the module, not the initializer it exports. That means that if an acceptance test runs first, it'll work. If a unit or integration test runs first, however, there could be problems.

The blueprint should at minimum add
[code]

Perhaps better wou

[2018-03-06 17:10] sukima commented on #67
Is this project dead? This was reported 5 months ago and no word. This issue illustrates a **fundamental** failure of the helper itself. I would consider this a _severe_ bug.

With the proposed solution being so simple and demonstrating the unnecessary use of complex `getOwner` logic can we get a fix?! At this point our project is littered with `(not (can "..."))` everywhere! It looks bad.

CC @bl

[2018-03-06 18:27] Exelord commented on #67
Yep it looks dead. If you would have same time we can fork it, fix update and revive. I doubt the author will cover it :/

[2018-03-06 19:36] blimmer commented on #67
@sukima I'm sorry but I don't have time to work on this project anymore. I would recommend @Exelord 's suggestion of forking to revive. An alternative would be to reach out to @rlivsey (who has admin on the repo) to see if he would give either of you access to directly work with this codebase.

The last time I had talked with @rlivsey he didn't have time to work on this project, either.

[2018-03-06 20:21] sukima commented on #67
@blimmer

I am more than happy to help. I can also maintain either by forking or becoming an admin. The only question is how to handle releases through NPM.

[2018-03-06 20:24] blimmer commented on #67
Unfortunately I don't have the powers to give you either of those things 😞

@rlivsey would need to help out here.

[2018-03-06 20:25] Exelord commented on #67
That would be cool. I can also help with that :)

[2018-03-06 20:34] sukima commented on #67
@Exelord is this you? https://keybase.io/exelord

-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.76
Comment: https://keybase.io/crypto

wcFMAy+CpCoBJi9vAQ/7BxoWAT1WiSXpPfgAd8JSw/36mtXxD/jB1fa+mXHoTCmU
vx/YY3wiq5ZgeBkWwz12XU6B+qwrySHXhTjJ2LbYu6+lorMqwVdjL6pRknSIHS6O
7I4oTw9vt+piZemrQa1EKZmBKc2HpxB69nsTyXqj2wzWyNo+ru7tJrCxNs6uifdC
8C01WTUodBbuF1QGeLVV6cUzWULuL/vjh4GpvdeD4mLiaLCxcJHsVHhpr+

[2018-03-06 21:49] Exelord commented on #67
https://gist.github.com/Exelord/33974317856e390fa3107a02e50d5f0f

[2018-03-13 16:05] achambers commented on #20
Hi,

Is this repo still maintained? What’s happening with this issue? It’s been open for 2 years.

Hello? Anybody there?

[2018-03-13 16:10] blimmer commented on #20
@achambers please see https://github.com/minutebase/ember-can/issues/67#issuecomment-370901186 and check with @exelord

[2018-03-13 17:12] rlivsey commented on #67
I’m alive, sorry for the neglect, it’s been an … interesting … year. Feeling less burned out now and going to get back on top of things ASAP.

At Ember conf right now, if anyone else is here feel free to grab me. Happy to add more people with commit bits here & on npm the get things back on track.

[2018-03-13 17:13] rlivsey commented on #20
@achambers thanks for the nudge 😏

[2018-03-13 17:16] Exelord commented on #67
I'm watching it 😅. Do you think it's still possible to discuss? 😉
On Tue, 13 Mar 2018 at 18:12, Richard Livsey <notifications@github.com>
wrote:

[2018-03-13 17:17] bravo-kernel commented on #67
Good to hear you are coming back to life mr. @rlivsey. I found out first hand that one of the best things to prevent 🔥 and ⚰️ is spreading responsibilities. Please take the time to grant permissions, this repo deserves it.

[2018-03-13 17:23] sukima commented on #67
@rlivsey I'm at EmberConf too!!!

[2018-03-13 18:00] sukima commented on #67
@rlivsey Sent you a keybase.io chat. ([keybase/GitHub proof](https://gist.github.com/sukima/77b9e1e69dcc17c3eea3))

[2018-03-22 03:21] TigressBailey opened #75 "Can you please resolve the deprecation ember-cli-version-checker ?"
The message keeps showing when moving the can service into an engine.
[code]

[2018-03-22 03:51] denzo commented on #75
🙏

[2018-03-25 02:27] dguayrobotiq commented on #62
Any plan for this?

[2018-03-25 03:12] thomblake commented on #62
Note that as of ember-cli 2.18 this also causes a deprecation warning

[2018-04-01 13:43] Exelord commented on #67
Fixed in #74

[2018-04-01 13:43] #67 closed

[2018-04-01 13:49] Exelord commented on #62
This has been upgraded in #74.
The issue can be closed.

[2018-04-01 14:04] #62 closed

[2018-04-01 18:20] Exelord commented on #75
This should be also fixed by #74

[2018-04-01 18:59] #75 closed

[2018-04-02 02:03] TigressBailey commented on #75
@Exelord Thank you so much~
@blimmer Did we release the v.1.0.0 already?

[2018-04-03 23:09] elidupuis commented on #70
I just came across this addon and immediately noticed the conflict with `computed` from `@ember/object`. @miguelcobain's suggestion of `import { ability } from 'ember-can';` seems like the idiomatic Ember approach 👌.

I noticed that @Exelord was recently added as a contributor to help maintain the project; any thoughts on this?

[2018-04-04 07:44] Exelord commented on #70
Hey! Unfortunately, Im not added yet 😅But yes, we can definitely improve public API and deprecate the old ones.

`import { ability } from 'ember-can';` this is a bad idea as it will collide with `import { Ability } from 'ember-can'; I mean, not directly but accidentally. To be honest, in my opinion, this whole thing with computed ability should be deprecated as it doesn't look like a good pattern.

[2018-04-04 08:37] TigressBailey commented on #75
@Exelord and @blimmer  Thanks. This issue is resolved as expected!

[2018-04-04 22:26] #61 closed

[2018-04-04 22:28] Exelord commented on #64
Fixed :) - latest v1.0.0 is 💚

[2018-04-04 22:28] #64 closed

[2018-04-04 22:30] Exelord commented on #34
Not relevant anymore :)

[2018-04-04 22:30] #34 closed

[2018-04-04 22:36] Exelord commented on #38
Thats easy :) Fetch the user before:
[code]

I'm closing it as it's not related to ember-can anymore, just to data management.

[2018-04-04 22:36] #38 closed

[2018-04-05 21:39] Exelord commented on #25
Inside of ability just use `this.get('model') // your post`

[2018-04-05 21:39] #25 closed

[2018-04-05 21:41] Exelord commented on #40
case overdue :/

[2018-04-05 21:41] #40 closed

[2018-04-05 21:43] Exelord commented on #28
In controller or component use `can` service with `can` `cannot` and `build` method to build your own computeds when needed as needed. More examples are coming to the readme.

[2018-04-05 21:43] #28 closed

[2018-04-05 21:44] Exelord commented on #57
YEP! This is going be allowed in #79. Thanks for raising the issue!

[2018-04-05 21:44] #57 closed

[2018-04-05 21:45] Exelord commented on #60
Please do not use `computed.ability`. Instead you can build your own computed property for whatever case you need using `can` service :)

[2018-04-05 21:45] #60 closed

[2018-04-05 21:46] Exelord commented on #70
`computed.ability` will be deprecated and removed in further releases. We can use `can` service api to recreate it if we need. Just one method `abilityFor` (old `build`)

[2018-04-05 21:46] #70 closed

[2018-04-06 01:18] taras commented on #40
yep yep :)

[2018-04-10 12:01] #63 closed

[2018-04-11 09:14] ondrejsevcik opened #80 "How is this different from computed properties?"
Hi guys, how does this addon differ from custom computed properties on model? So instead of having a dedicated file `abilities.js` I can place all my permission checks inside model as `canXYZ` computed property.

Thank you for explanation.

[2018-04-18 22:06] Exelord commented on #80
Yes you can :) But this addon is about structure, helpers and readability. It's very thin, but it does some nice work for you.

Remember, it's bad to keep many responsibilities in one class. That's why we have abilities. To make it simple without models dependency.

[2018-04-23 19:25] #80 closed

[2018-05-01 16:05] Exelord opened #82 "Potential issue with ability state"
Hey,
I noticed a behavior which man not be expected by users and leads to potential issues. I need your verifications.

# The problem
As abilities are kept as a singleton we are using one instance to determine a specific ability which means we are overwriting those instance whenever we ask for them.
[code]
It doesn't seem like a good strategy but that's, not an issue. The issue is in the case when

[2018-06-26 17:11] rtablada opened #83 "Reduce Reliance On Computed Properties"
When using Ember Can for some recent projects it got me thinking to what a more modern feeling `ember-can` v2 could/would look like.

# Confusing Use of Computed Properties

Right now all `can...` lookups rely on computed properties.
This was really popular at the creation of `ember-can` and was inspired by `@attr` use in can-can but I think that moving to a more functional approach would make thi

[2018-06-27 17:57] Exelord commented on #83
It looks pretty cool but it doesn't cover all our cases :/ We won't be able to track the state required eg in helpers, or change the abilities based on dependents.

[2018-06-27 19:01] rtablada commented on #83
🤔yeah I'd need to explore more around how the helper and abilities are being setup. And I'll play around with how to support helper syntax.

Is there a separate ability created for every call to `can`?

[2018-06-27 19:05] Exelord commented on #83
Refer to #82

[2018-06-27 19:16] rtablada commented on #83
In that case actually a functional approach would solve #82 since a singleton could be used since `model` and `params` would be function arguments instead of instance properties.

But that still raises the question of how to setup observers without leaking required info into templates...

[2018-07-01 05:54] happycollision opened #85 "blueprint: Ember 3.0 testing structure"
The current generator for a new ability creates an accompanying test in the old fashion.

For example, running `ember generate ability post` would create the following test file:

[code]

The new testing style in Ember 3.0 supports a cleaner structure, which would translate to this:

[code]

It would be nice for that to be the test that is generated for Ember 3.0+ apps.

I'll have a look into this

[2018-07-02 21:51] Exelord commented on #85
To be honest, I would remove blueprints at all and just add the example in the readme. The test is so easy here and don't require any custom logic or so :/  What do you think?

[2018-07-02 23:57] happycollision commented on #85
I personally liked that there was a test blueprint, because I am not super familiar with Ember, but I knew enough to know that I could run `ember g ability some-name` and that I *might* get something from it. So that is how I even discovered that an Ability was directly testable. I may not have thought to check the docs, just test via integration or something.

In any case, a lot of the work is do

[2018-07-03 00:10] Exelord commented on #85
Im not a fan of blueprints at all, but if you or someone else would like to fix it, I will be more than happy to merge it.

BTW.
Im always using snippets for generating code :)

[2018-07-18 22:58] calvinlough opened #87 "The latest release (1.1) doesn't work with any version of Internet Explorer"
The use of Object.assign on this line causes IE to blow up:

https://github.com/minutebase/ember-can/blob/0e58e24a3039663d3bce9449687ac0899f0932d2/addon/services/can.js#L27

Of course it works fine if you use a polyfill but we weren't and our app broke in production for all IE users.

[2018-07-19 01:40] Exelord commented on #87
Wow. Good catch! 😱
Probably we can just replace it with an ember's polyfill -> https://emberjs.com/api/api/ember/release/functions/@ember%2Fpolyfills/assign

[2018-07-19 03:54] #87 closed

[2018-07-19 03:54] Exelord commented on #87
v1.1.1 released :)

[2018-07-19 10:51] calvinlough commented on #87
@Exelord Amazing, thank you!

[2018-08-16 18:36] Exelord opened #89 "Ability name should be always in singular form"
We should strict naming of abilities to singular form, and transform lookups like `can 'do sth in resources'` to `can 'do sth in resource'` automatically.

[2018-09-05 03:46] roberkules opened #90 "Usage in in-repo-engine"
hi,

trying to use ember-can in our app that consists of the main app and a few in-repo-engines.

we have a account-section and a corresponding account permission (read/write)

according to the docs, it should look like this:

[code]

(merchant-admin is the main app, account is one of the in-repo-engines and account is also the name of the ability created in the main app)

I tried that, but then I

[2018-09-06 19:00] Exelord commented on #90
Im not sure if in repo addons have access to the app. They are not engines and they should stay totally independent from the parent

[2018-11-06 12:00] Gorzas commented on #85
@Exelord I'm curious about how have you configured the snippets :). I've been using blueprints with Ember and I feel them very useful, but I'm open to know different ways to work with autogenerated code.

[2018-11-06 12:23] Gorzas opened #92 "Update blueprints to ES6 classes"
What do you think about updating the blueprints to use ES6 classes? Or is it soon?

So instead generating the old syntax, the blueprint generates something like this:

[code]

Maybe we can add an option so the developer can choose between the version they prefer, something like it's been doing with the blueprints of ember source.

[2018-12-05 13:42] basz commented on #20
Hi,

Just wanted to chip in, I got async abilities working with some help of [ember-promise-helpers](https://github.com/fivetanley/ember-promise-helpers).

If there is a better way I'm interested.

[code]

[code]

[2018-12-12 11:09] Exelord commented on #20
I think this may help close this issue: https://medium.com/macsour/how-to-handle-async-abilities-with-ember-can-22d90df056ed

[2018-12-18 20:20] Exelord commented on #20
Feel free to open it again

[2018-12-18 20:20] #20 closed

[2018-12-18 20:50] Exelord commented on #83
I'm closing this issue. We are not able to achieve the goal with current state of Ember. Feel free to open

[2018-12-18 20:51] #83 closed

[2018-12-22 13:57] basz opened #95 "infinite rendering invalidation detected"
With going to ember 3.4 it seems I must use ember-can ^1.1.

However that fails with an `infinite rendering invalidation detected`. This is a strange one.

Firstly I should note I'm using capabilities which return a promise. Templates use the await helper for them to resolve. This used to work with ^0.8.

When I add a console.log in those computed properties I can see they are being called tens of

[2018-12-23 10:33] basz commented on #95
I solved the immediate issue with the previous version by replacing the template if's with a computed property on the component.

[code]

However, after upgrading to the 2.0 branch this, seems to fail with `Assertion Failed: Cannot deregister unknown unregistered renderer` as soon as I call a nested ability???

Works;
[code]
Error...
[code]

ps. I have read the async article. And I'm considering s

[2018-12-23 10:38] basz commented on #95
Thought, might this be happening because the `order` (I'll assume the `model` property would suffer the same logic) property on the ability changes when calling an ability? Triggering a rerender for each row in the table? Since I use `computed(`order.status`...` in the abilities?

[2018-12-23 11:03] Exelord commented on #95
Could you prepare an Ember Twiddle with not working example? (if you can do it of course) That would speed up debugging.

[2018-12-23 13:11] basz commented on #95
Hm. got this far. Can't seem to get ember-can from a feature branch loaded. Can you?

https://ember-twiddle.com/e688458b204a418f8cec161c45d5e63b?openFiles=twiddle.json%2Ctemplates.components.my-component.hbs

[2018-12-23 17:06] basz commented on #95
Here one with what I'm trying to do: I'm using 1.1.1

render an options menu if one of the capabilities is allowed. Then inside that render each individual menu option per ability.

https://ember-twiddle.com/e688458b204a418f8cec161c45d5e63b?openFiles=templates.components.my-component.hbs%2Ctemplates.components.my-component.hbs

https://ember-twiddle.com/e688458b204a418f8cec161c45d5e63b?openFiles=t

[2019-02-08 11:01] dbendaou opened #96 "Error in upgrade guide template"
Either I didn't understand or there is an error, but the `UPGRADING GUIDE` talk about upgrading from v2.0.0. Or the package is still in v1.1 ..

[2019-02-08 11:02] dbendaou commented on #96
I can make a PR if you want

[2019-02-11 17:27] Exelord commented on #96
v2 has been not released yet. We are just marking required steps there which will be needed after the release

[2019-02-11 19:40] dbendaou commented on #96
Ok my bad then ! You can close :)

[2019-02-12 10:21] #96 closed

[2019-02-15 08:50] bartocc opened #97 "Update http://ember-can.com/"
I have at least noted this outdated doc

[code]

which is deprecated and should be

[code]

[2019-02-15 08:50] bartocc commented on #97
I've checked the `gh-pages` branch in the repo but this does not seem to be the source of http://ember-can.com

[2019-03-21 08:39] AmilKey commented on #95
@basz any updates on this issue?

[2019-03-21 09:27] basz commented on #95
Yes I fixed it in my application.

via these checks in the (row) template

[code]

which use the ability defined as

[code]
Key is that I specifically use the model option of the ability. In addition pls note that I disabled caching via the `.volatile()` modifier.

[2019-03-28 09:59] artemgurzhii commented on #95
@basz I've made a fork where you can disable `recompute` call to prevent this error, please take a look at https://github.com/artemgurzhii/ember-can/commit/8cb13dc475f37b1f86e1e78350cd48b72e0bd530

[2019-08-12 16:20] #82 closed

[2019-08-12 16:20] #89 closed

[2019-08-16 01:31] AddisonG opened #100 "Cannot Mock Ember-can in tests to always return true"
I cannot mock ember-can to always return true in Acceptance tests or Unit tests. I've tried looking at and implementing all the suggestions from:

http://ember-can.com/
https://github.com/minutebase/ember-can/issues/13
https://github.com/blimmer/ember-cli-example-app-for-github/commits/ember-can-issue-13

Either I can properly inject a mock session, and ember-can won't need to be mocked, or I can

[2019-08-16 08:32] Exelord commented on #100
This implementation is very old and may not apply anymore. :/
What version are you using?

Ideally, you shouldn't mock your abilities, and try to comply with them in tests. But of course, sometimes it can be required. In that case it would suggest overwriting the ability by reregistering it in test, eg:
[code]

[2019-09-07 16:41] shiereubimestrada123 opened #101 "Cannot use `Ember-can` in Polymorphism"
I am trying to implement on my code Ember-can however condition on my template.js is not returning true. Is Polymorphism really not working with this add-on. Please advise. Thank you

[code]

[code]

[code]

[code]

[2019-09-07 17:06] Exelord commented on #101
It has nothing to do with polymorphism :)

I see you are calling the ability incorrectly. try:
[code]

[2019-09-07 17:07] #101 closed

[2019-10-19 11:50] artemgurzhii commented on #100
@AddisonG you can use something like

[code]

and then use it like this

[code]

[2019-10-29 20:55] KDuverge opened #103 "Path ember-can/services/can is not resolving"
I have the latest `ember-cli` and `ember-can`. I'm following the `readme` to update the module path as `CanMixin` is deprecated, but I am still having issues.

[2019-10-30 11:05] Exelord commented on #103
Please give us some more info :) Code that you are trying to use, errors etc.

[2019-12-16 09:47] Turbo87 opened #106 "Dependencies outdated"
This addon is relying on a pinned version of `ember-cli-babel` and that version out-of-date. I would recommend to just unpin the dependency, instead of attempting to manually keep it up-to-date all the time.

[2019-12-16 12:33] #106 closed

[2019-12-16 12:34] Exelord commented on #106
Upgraded. Thanks :)

[2020-01-06 10:18] makepanic opened #109 "Using can in a glimmer component getter blows up dependencies"
Hi,
I'm in the progress of porting our components to octane and it seems like using can creates a huge list of dependencies.

without can call:

![20200106-110120](https://user-images.githubusercontent.com/1205444/71811822-ee90df00-3075-11ea-8fdb-fc3dbbccf1a2.png)

with can call:

![20200106-110152](https://user-images.githubusercontent.com/1205444/71812008-6232ec00-3076-11ea-91e8-f25cc6d2ee72.png

[2020-01-06 16:36] makepanic commented on #109
It seems like unwrapping `ability.destroy()` from the run call works fine and all tests pass locally.

@Exelord would you be ok with removing the wrapping run call when destroying?

from discord:

[2020-01-07 15:47] Exelord commented on #109
Hey! Thanks for debugging this. I'm not in context now, why we have the run loop there. From what I remember out tests suit checks things very well. If it works without it, it probably fine to test it first in real apps :)

[2020-01-07 16:58] makepanic commented on #109
I've already started using https://github.com/minutebase/ember-can/pull/110 in our app and everything is working well.

[2020-01-16 08:28] #109 closed

[2020-01-16 08:45] #103 closed

[2020-01-16 08:45] #100 closed

[2020-01-16 08:47] #95 closed

[2020-01-16 09:01] Exelord commented on #97
Done

[2020-01-16 09:01] #97 closed

[2020-01-22 13:14] david-ratier opened #115 "Update doc for testing"
The doc seems to be outdated regarding testing, also there's not a lot of information.

Right now it's indicated to use `needs: ['helper:can', 'ability:foo']` whereas it seems like in the blueprints a lookup is used.

[2020-03-15 00:19] betocantu93 opened #117 "Stuck at 1.1.1"
Hello, we got stuck at 1.1.1 because `abilityFor` returns a new created object every time i.e. Ability.create({}) as thus reopening or metaprogramming got broken for us.

We use defineProperty heavily to create on flight dynamic computeds props on our abilities per model, this is a weird use case, but we basically exported rails `can can can` gem abilities to the frontend and reopen the registered

[2020-03-15 14:13] Exelord commented on #117
Ability is not a singleton and should not be treated like it. That was a bug in the past that allow sharing one instance of ability between many objects which in result leads to model and custom params overrides and incorrectly resolved permissions.

I think you could just move that logic into the ability constructor. If you need to do it in many places, create a base class for them which defines

[2020-03-15 17:09] betocantu93 commented on #117
Hmm, these props are totally dynamic coming from an endpoint, per ability type, so in order to do that (inside the constructor, or the creation process) I would need to save these props somewhere, perhaps the `can` service and basically add these props in every .create({})

[code]
What do you think?

[2020-03-15 21:13] Exelord commented on #117
What I mean is to get this config inside of Ability constructor:

[code]

You cannot assume that the only place abilities are created is your function. Abilities should be isolated and contain any information they need to be able to construct the object.

So I guess you should keep the config somewhere and inject it into abilities so that they can use it during construction.

There is also another

[2020-03-16 00:08] betocantu93 commented on #117
Both good options, @Exelord thanks for the follow-up, the last characteristic is that we also do have some hardcoded frontend props, so these dynamic classes would need to extend the hardcoded ones.

[code]

Looks good?

[2020-03-16 00:32] betocantu93 commented on #117
Although this might at some point cross-pollute in a worst case scenario, perhaps the factory should instead be done via literally module lookup, literally require.entries, to be sure we're always extending from the hardcoded one

[2020-03-16 08:07] Exelord commented on #117
Im really not sure if you should follow this mete programming solution. I was dealing many times with dynamic abilities and all I needed was just the first solution with a custom constructor.

Registering and deregistering is very hacky :/

[2020-03-16 17:59] betocantu93 commented on #117
you're  right, i'll follow your advice, thanks!

[2020-03-16 17:59] #117 closed

[2020-06-02 13:14] far-fetched opened #119 "Explicitly passed ability and property name"
Hello,
I really appreciate entire addon, how it structures rights / permissions, and how it delegates responsibility.
But regarding 'can' helper and how it parses string:
I have a strong feeling that for some developers it might be a bit problematic and confusing using string with current approach. E.g.

`abilities/group.js`

`export default Ability.extend({
   rename: computed('......')
})`

and

[2020-06-04 08:53] Exelord commented on #119
Isn't it whats documented here? https://github.com/minutebase/ember-can#custom-ability-lookup

[2020-06-04 09:23] far-fetched commented on #119
Ahh... somehow I just skipped this section. Indeed, that is what I am looking for. Thanks.

[2020-06-04 09:23] #119 closed

[2020-07-30 02:47] aaronucsd opened #122 "alias and computed not working for can"
This was working before but now it isn't providing the right value to HBS. Version `  "ember-can": "^1.1.0",`
[code]
when canAdmin is updated the HBS would provide the right value for `this.canAdmin` but now it isn't unless I update the ability file to octane/glimmer and use `this.testAbility.canAdmin` in the HBS.

I tried this as well, and while the console prints the updates value (t/f), the ret

[2020-08-05 17:55] #122 closed

[2020-08-05 17:56] aaronucsd commented on #122
Nevermind. Found out we override the computed by passing the same name down to the component as an argument so that broke the computed.

[2021-01-18 15:45] oakho opened #126 "Relying on unknownProperty breaks can helper"
First of all, thanks for writing this addon, we are relying a lot on it in our app.

While upgrading to the latest version of ember-can we came across an issue that currently breaks our app.

We rely on the unknownProperty of EmberObject to match abilities with a preloaded list we get from our backend to avoid defining all of them by hands.

To give you some insight, here's our base ability class

[2021-01-21 09:06] Exelord commented on #126
Hi,
Thank you for raising this up! That indeed could be a solution, however, I'm not sure If we want to support EmberObject further (open on others' voices) as it has been kind of deprecated.

Another solution for your case could be defining abilities in the constructor if you are able to get all the keys. I usually follow this path. So instead of relaying on `unknownProperty` you could do:
[code]

[2021-01-21 17:00] oakho commented on #126
Hello @Exelord,

I agree with you that with the soft deprecation of EmberObject this might not be the best solution but then I think there might be some confusion for other users with the current state of ember-can.

Currently, the ability class still extends EmberObject itself so as a user I would expect to be able to rely on public APIs exposed by EmberObject without breakings.

From my point of

[2021-01-27 13:02] Exelord commented on #126
How about if we would use `Ember.get(ability, key)` :) Would that solve your issue?

[2021-01-27 16:20] oakho commented on #126
Yes, using ```return get(ability, propertyName);```  would indeed fix my issue :) ! (Quite better than my initial solution).

I can open a PR, if you like !

[2021-01-27 17:32] Exelord commented on #126
Ok, cool! I will accept it :)

[2021-02-24 12:06] #92 closed

[2021-03-16 18:47] esbanarango opened #128 "ability computed doesn't work with @glimmer/component"
### 🐞 Describe the Bug
Using the `ability` computed in a _glimmer component_ doesn't work.

### 🔬 Minimal Reproduction
[code]
[code]

<img width="853" alt="✖_Garaje_Tests" src="https://user-images.githubusercontent.com/1156865/111361780-11e0f200-865c-11eb-96ef-1584a6dc696c.png">

The `ability` function is a Higher-order function that returns a computed property, this computed property is using the

[2021-03-18 09:58] #128 closed

[2021-05-10 14:56] Gorzas commented on #115
@david-ratier Do you have any suggestion about what to show in their place? Could it fit an example of unit test using `ember-can` with [stubs](https://guides.emberjs.com/release/testing/unit-testing-basics/#toc_stubs)?

[2021-05-10 14:59] Gorzas commented on #85
This issue is already done, maybe it could be closed 😄 .

[2021-05-12 14:45] Gorzas commented on #115
After looking through the documentation, in the last versions of Ember using services works the same for Unit and Integration tests. Broader examples are available in the offical EmberJS guides: https://guides.emberjs.com/release/testing/testing-components/#toc_stubbing-services

[2021-05-17 14:54] Gorzas opened #138 "Use native ES6 classes instead of EmberObject for Ability"
The latests versions of EmberJS are deprecating the use of EmberObject and Ember computed properties to use native ones instead. This could be a good improvement, also if we think in making it easier for users of other frameworks to start using EmberJS. An start could be changing [the Ability class](https://github.com/minutebase/ember-can/blob/master/addon/ability.js) to use ES6 native classes.

I

[2021-05-19 13:56] Gorzas opened #139 "No "exports" main defined in @babel/helper-compilation-targets/package.json"
I've found this error when trying to pass tests of `ember-can`, creating a different issue to solve it in a more granular PR. It seems a problem with the latest version of  `nodeJS` (using 12.22.1) and it seems it could be easily solved with [updating Babel to the last versions](https://github.com/babel/babel/issues/11216).

[2021-05-27 13:43] #139 closed

[2021-05-30 17:59] tben commented on #138
Btw, you can just use the ability class just like before.

`import { Ability } from 'ember-can';

export default class AuthUser extends Ability {
    get canUserManage() {
        return true;
    }
}`

[2021-06-28 15:11] Gorzas commented on #138
I've migrated Ability to ES6 class but it still needs more work to be done. Right now, it still depends on EmberObject:

[code]

This may be because [this line](https://github.com/minutebase/ember-can/blob/master/addon/services/can.js#L38) but I decided it's a problem worth to be solved later.

And it's also being tested using computed properties instead of the new tracked syntax.

[2021-06-29 16:12] Gorzas commented on #138
Just as reminder there are two changes left to finish this issue [as talked about in the PR](https://github.com/minutebase/ember-can/pull/144):

- remove EmberObject dependency on Can service.
- fix linter errors.

[2021-07-05 15:08] Gorzas commented on #115
Can this issue be closed? 🤔

[2021-07-05 15:18] Gorzas opened #145 "Error when running tests: this version of ember-auto-import requires the app to have a dependency on webpack"
Could anyone try if you have the same problem? I believe it's related to the last release of EmberJS (3.27) when doing `npm run test`:

[code]

I found it when [trying to solve this PR](https://github.com/minutebase/ember-can/pull/144#issuecomment-874186819). It seems to have a very easy solution but I need to know I'm not the only one having this issue.

[2021-07-05 18:48] patrickberkeley commented on #145
webpack is [required for `ember-auto-import` v2](https://github.com/ef4/ember-auto-import/blob/master/docs/upgrade-guide-2.0.md) so I'm assuming somehow auto import was upgraded. I don't see ember-auto-import v2 as a requirement for ember 3.27, so is there a chance you upgraded it on your own?

[2021-07-06 13:59] Gorzas commented on #145
@patrickberkeley I'm going to rm `node_modules` and try again. I also have seen that `package-lock.json` gets updated after doing an `npm install`, don't know if it's related.

[2021-07-06 14:56] Gorzas commented on #145
The `ember-auto-import` dependency is directly in the `package.json`: https://github.com/minutebase/ember-can/blob/master/package.json#L68

[2021-07-06 15:00] patrickberkeley commented on #145
Ah that would do it :-P Pretty sure a webpack config is required then.

[2021-07-07 07:56] Exelord commented on #145
Hmm, all tests are passing for me locally without any issues. Same for CI. What version of node and npm are you using? Im testing on the latest.

[2021-07-07 08:27] Gorzas commented on #145
@Exelord Could try to do `rm -rf node_modules` and install the dependencies again, please?

[2021-07-07 09:40] Exelord commented on #145
Yes, that's what I did. All works just fine. CI confirms that. :)

[2021-07-07 15:12] Gorzas commented on #145
I'm using node 12.22.1 and npm 6.14.12

[2021-07-07 15:13] Exelord commented on #145
Try with latest node 14 or 16 and npm 7.19^

[2021-07-08 07:25] #115 closed

[2021-07-15 14:34] Gorzas commented on #145
@Exelord It works with Node 14/16 and npm 7.19. I have updated the PR upgrading the requirement of Node version: https://github.com/minutebase/ember-can/pull/146

[2021-07-29 21:47] patrickberkeley opened #147 "TypeScript support"
Thanks for this library! Do you have any plans to offer TypeScript type definitions or convert the code to TS?

[2021-08-07 19:00] charlesfries commented on #147
#148

[2021-11-08 21:52] charlesfries opened #149 "Release"
Would it be possible to cut a 3.1.1 or 3.2 release in the near future? I need the `ember-cli-babel@7.26.6` dep that is currently in master.

[2021-11-26 16:12] Exelord commented on #149
Done 3.2.0 released :)

[2021-11-26 16:12] #149 closed

[2021-11-26 20:47] charlesfries commented on #149
Thank you bro!

[2022-02-23 20:37] natmegs opened #156 "`can` helper error"
Hello! I have been running into issue that seems to be a race condition related to the use of `addObserver` and `removeObserver` during route transitions away from a route that renders a template that uses the `can` helper.

[code]

Currently using latest version `v4.1.0`. I see that in commits since the release, usage of `addObserver`/`removeObserver` have been removed, and if I apply the diff fr

[2022-02-24 21:46] Exelord commented on #156
Hi Natalie,

I think we can try it out. 4.2.0 coming 🚀

[2022-02-25 14:01] natmegs commented on #156
@Exelord thank you!

[2022-03-29 12:15] Exelord commented on #156
Done!

[2022-03-29 12:15] #156 closed

[2022-09-09 16:41] mpminardi opened #157 "Errors when attempting to create a native class extending from Ability"
Hi there! I've run into a few cases where I receive the following error while attempting to upgrade to using native classes that extend from `Ability`:

One scenario I've been able to track down that has seemed to cause this is:
1. Having a native class `A` that extends from `Ability`
1. Having a component `B` that uses a `can` helper for `A` in its handlebars
2. Having a component `C` that wraps

[2022-09-11 11:30] Exelord commented on #157
Hi Mario :) Yes, this PR should solve it, but I am not sure when I will have time to finish it. It was just a vision.

For know I would recommend to use classic decorator to solve this warning.

[2022-09-12 02:38] mpminardi commented on #157
Gotcha, thank you for the confirmation Maciej! Will use the decorator in that case.